<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>

<div class="hood news">
  <h1>RECENT NEWS</h1>
  <% if( events.length ) { %>
   <% articleDocs.forEach(function( article ){  %>
   <section>
      <h1><%= article.headline.main %></h1>
      <% if(article.multimedia[0]) { %>
      <img src="http://www.nytimes.com/<%= article.multimedia[0].url %>" alt="">
      <% } %>
      <p><%- article.lead_paragraph %></p>
      <a href="<%= article.web_url %>" target="_blank">Read full article...</a>
   </section>
   <% }) %>
  <% }else{ %>
   <li>No Results found</li>
  <% } %>
</div><!-- .news -->

<div class="hood events">
  <h1>RECENT EVENTS</h1>
  <% if( events.length ) { %>
   <% events.forEach(function( event ){  %>
   <section>
      <h1><%= event.title %></h1>
      <% if(event.image) { %>
      <img src="<%= event.image.small.url %>" alt="">
      <% } %>
      <p><%- event.description %></p>
      <a href="<%= event.url %>" target="_blank">Read full event...</a>
   </section>
   <% }) %>
  <% }else{ %>
   <li>No Results found</li>
  <% } %>
</div><!-- .events -->

<a href="/user/new">Create an account to keep track of the going ons</a>
</body>
</html>
