<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
<header class="hoodpage">
  <h2>welcome to
    <% if(location) { %>
      <br>
      <em><%= location %>,</em>
      <br>
    <% } else { %>
      <br>
      <em><%= borough %>,</em>
      <br>
    <% } %>
    <% if(user){ %>
      <a href="/user/profile"><%= user.fname %></a></h2>
      <a href="/user/logout">LOGOUT</a>
    <% } else { %>
      guest!</h2>
      <p><a href="/user/login">LOGIN</a></p>
    <% } %>
</header>
<div class="row">
  <div class="hood bizs four columns">
    <h1>NEARBY BIZ's</h1>
    <section>

    </section>
  </div><!-- .hood.bizs -->

  <div class="hood news four columns">
    <h1>RECENT NEWS</h1>
    <% if( articleDocs.length ) { %>
     <% articleDocs.forEach(function( article ){  %>
     <section>
        <h1><%= article.headline.main %></h1>
        <% if(article.multimedia[0]) { %>
        <img src="http://www.nytimes.com/<%= article.multimedia[0].url %>" alt="">
        <% } %>
        <p><%- article.lead_paragraph %></p>
        <a href="<%= article.web_url %>" target="_blank">Read full article...</a>
        <% if(user) { %>
          <button class="save article">Save Article</button>
        <% } %>
     </section>
     <hr>
     <% }) %>
    <% }else{ %>
     <li>No Results found</li>
    <% } %>
  </div><!-- .hood.news -->

  <div class="hood events four columns">
    <h1>RECENT EVENTS</h1>
    <% if( events.length ) { %>
     <% events.forEach(function( event ){  %>
     <section>
        <h1><%= event.title %></h1>
        <% if(event.image) { %>
        <img src="<%= event.image.small.url %>" alt="">
        <% } %>
        <p><%- event.description %></p>
        <a href="<%= event.url %>" target="_blank">Read full event...</a>
        <form action=""></form>
        <% if(user) { %>
          <button class="save event">Save Event</button>
        <% } %>
     </section>
     <hr>
     <% }) %>
    <% } else { %>
     <li>No Upcoming Events</li>
    <% } %>
  </div><!-- .hood.events -->

</div><!-- .row -->

  <% if(user) {} else { %>
    <a href="/user/new">Create an account to keep track of the going ons</a>
  <% } %>
</body>
</html>
