<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <title><%= user.fname %>'s Profile</title>
</head>
<body>

  <h1><%= user.fname %> <%= user.lname %></h1>

  <h3><%= user.email %></h3>

  <h2><a href="/neighborhoods/location?location=<%= user.neighborhood %>"><%= user.neighborhood %></a></h2>

  <!-- todo:
              save neighborhood name
              link to neighborhood name -->

  <h2>FAVORITE ARTICLES</h2>
  <% if(user.favoriteArticles.length) { %>

    <% user.favoriteArticles.forEach(function(article){ %>
      <h3><%= article.articleTitle %></h3>
      <p><%= article.articleDesc %></p>
      <a href="<%= article.articleLink %>">Read Full Article</a>
    <% }) %>

  <% } else { %>
    <p>No favorites yet</p>
  <% } %>

  <h2>EVENTS I'M INTERESTED IN</h2>

  <% if(user.favoriteEvents.length) { %>

    <% user.favoriteEvents.forEach(function(event){ %>
      <h3><%= event.eventTitle %></h3>
      <p><%= event.eventDesc %></p>
      <a href="<%= event.eventLink %>">Check Tickets</a>
    <% }) %>
  <% } else { %>
    <p>No favorites yet</p>
  <% } %>


</body>
</html>
