<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>

  <title><%= user.fname %>'s Profile</title>
</head>
<body id="profile">

  <% if(user) { %>
    <% include ../partials/nav %>
  <% } %>

  <div class="row">
    <div class="six columns">
      <h1><%= user.fname %> <%= user.lname %></h1>
      <h3><%= user.email %></h3>
      <h2><a href="/neighborhoods/location?location=<%= user.neighborhood %>&borough=<%= user.borough %>"><%= user.neighborhood %></a></h2>
      <a href="/user/logout">LOGOUT</a>
    </div><!-- user-info -->

    <div class="six columns faves">
      <h2>FAVORITE ARTICLES</h2>
      <% if(user.favoriteArticles.length) { %>
        <% user.favoriteArticles.forEach(function(article){ %>
          <h3><%= article.articleTitle %></h3>
          <p><%= article.articleDesc %></p>
          <a href="<%= article.articleLink %>">Read Full Article</a>
          <hr>
        <% }) %>
      <% } else { %>
        <p>No favorites yet</p>
      <% } %>

      <h2>FAVORITE EVENTS</h2>
      <% if(user.favoriteEvents.length) { %>
        <% user.favoriteEvents.forEach(function(event){ %>
          <h3><%= event.eventTitle %></h3>
          <p><%= event.eventDesc %></p>
          <a href="<%= event.eventLink %>">Check Tickets</a>
          <hr>
        <% }) %>
      <% } else { %>
        <p>No favorites yet</p>
      <% } %>
    </div><!-- faves -->
  </div><!-- .row -->

</body>
</html>
